.bg-template {
    background: #f0f5f6;
}

.partial {
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    padding-top: 70px;
}

.ninja {
    opacity: 0;
}

.ninja:hover {
    opacity: 1;
}

.paragraph {
    width: 55%;
}

.fixedNavBar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.paraTitle {
    margin-top: 75px;
    text-align: center;
}

.borderedText {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(#496078, 0.75);
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 100px;
}

.borderedCss {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(#496078, 0.75);
    display: inline-block;
    width: 7%;
    height: 35%;
}

ul.skills {
    width: 55%;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 5px;
}

li {
    line-height: 1.5em;
    float: left;
    display: inline;
}

#double li {
    width: 45%;
}

li.odd {
    float: left;
}

li.even {
    float: right;
}
