.bg-template {
    background: #f0f5f6;
}

.partial {
    padding-left: 16px;
    padding-right: 16px;
}

.ninja {
    opacity: 0;
}

.ninja:hover {
    opacity: 1;
}

.paragraph {
    width: 60%;
    margin-bottom: 100px;
}

.homePage {
    vertical-align: middle;
    padding-top: 60px;
}

.fixedNavBar {
    position: fixed;
    width: 100%;
    z-index:999;
}

.mySkillsleft {
    margin-left: 15%;
    width: 30%;
    float: left;
}

.mySkillsmiddle {
    width: 30%;
}

.mySkillsright {
    margin-right: 15%;
    width: 30%;
    float: right;
}

.paraTitle {
    text-align: center;
}

.borderedText {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(#496078, 0.75);
    display:inline-block;
    width: 30%;
    height: 35%;
    min-width: 30%;
    min-height: 35%;
    max-width: 30%;
    max-height: 35%;
}

.borderedCss {
    border-width: 2px;
    border-style: solid;
    border-color: rgba(#496078, 0.75);
    display:inline-block;
    width: 7%;
    height: 35%;
}
