<div class='partial'>

    <div class="paraTitle">
        <h1>Contact Me!</h1>
    </div>
    <center>
        <div class="paragraph">
            <p align="center">
                Welcome to the contact page! This isn't finished at all cause I'm a lazy bitch;D
            </p>
        </div>
    </center>
</div>

<script>
    window.sr = ScrollReveal({
        duration: 750,
        reset: true,
        scale: 0.75,
        opacity: 0,
    });
    sr.reveal('.paraTitle', 50);
    sr.reveal('.paragraph', 50);
</script>
