<div class='bg-template partial aboutPage'>

    <div class="paraTitle">
        <h1>Introduction</h1></center>
    </div>
    <center>
        <section class="paragraph">

            <p align="center">
                My name is Aurèle, I'm 15 years old and I live in a beautiful country filled with baguettes! <i class="twa twa-fr"></i> I am still studying in highschool. <i class="twa twa-wink"></i> Since the age of 10, I've always been passionated about
                computers. <i class="twa twa-computer"></i>
                <br>So in the meantime I've learned some programming languages like:
                <br>
                <code data-toggle="tooltip" data-placement="bottom" title="Fluent with it.">Java</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Awesome at both.">HTML5 & CSS3</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Fluent with it.">JavaScript</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Decent with it.">PHP</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Currently in love with it.">Python</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Very good at it but don't use it anymore since I'm using Linux ;)">VB.NET</code> and I can speak to databases.
                <br> But I'm also experimented with the <b>Adobe Suite</b>, more precisly with:
                <br>
                <b>After Effect</b>, <b>Photoshop</b>, and <b>Illustrator</b>.
            </p>
        </section>
    </center>
</div>

<script>
    window.sr = ScrollReveal({
        duration: 750,
        reset: true,
        scale: 0.75,
        opacity: 0,
    });
    sr.reveal('.paraTitle', 50);
    sr.reveal('.paragraph', 50);

</script>
