<!DOCTYPE html>
<div class="partial">

    <div class="paraTitle">
        <h1>Contact Me!</h1>
    </div>
    <center>
        <div class="paragraph">
            <p align="center">
                Want to get in touch ? <span><i class="twa twa-wink"/></span>
            </p>
            <form id="contactForm" class="form-group" onsubmit="sendEmail();">
                <textarea id="message" name="message" rows="6" class="form-control" placeholder="You message here..." style="resize:vertical;" required></textarea>

                <div class="input-group" style="margin-top: 10px;">
                    <input id="email" name="email" type="email" class="form-control" placeholder="Email address..." required />
                    <span class="input-group-addon">@</span>
                </div>
                <button id="submitBtn" type="submit" style="margin-top: 10px" class="btn btn-default btn-wide btn-primary">Submit <span><i class="twa twa-ok-hand"/></span></button>
            </form>
        </div>


    </center>
</div>

<script>
    function sendEmail() {
        $.ajax({
            url: 'http://aureledocs.oules.com/aureleoules/mail.php',
            type: 'POST',
            data: {
                email: $('#email').val(),
                message: $('#message').val()
            },
            success: function(msg) {
                $("#contactForm").append("<p>Message sent <span><i class='fa fa-check'/></span></p>");
                $('#submitBtn').prop('disabled', true);
                $('#submitBtn').removeClass("btn-primary");
            }
        });
    }
    window.sr = ScrollReveal({
        duration: 750,
        reset: true,
        scale: 0.75,
        opacity: 0,
    });
    sr.reveal('.paraTitle', 50);
    sr.reveal('.paragraph', 50);
</script>
