<!DOCTYPE html>

<head>
    <title>Home</title>
    <script type="text/javascript">
        //!\\ Autostart script //!\\
        $(document).ready(function() {
            $(function() {
                $('[data-toggle="tooltip"]').tooltip()
            })
        });
    </script>
</head>

<div class="partial">
    <div class="paraTitle srIntroTitle">
        <h1>Introduction</h1>
    </div>
    <center>
        <div class="paragraph srIntro">
            <p align="center">
                My name is Aurèle, I live in a beautiful country filled with baguettes! <i class="twa twa-fr"></i> I am still studying in highschool. <i class="twa twa-wink"></i> Since the age of 10, I've always been passionated about computers and I
                was lucky enough to have a <i>geeky</i> family, this is the reason I've became the developer I am today. First I've learnt to program some Minecraft plugins in <b>Java</b> for fun then it became an addiction! <i class="twa twa-computer"></i>                Since that time, my goal is to become <b>The Best Developer Ever</b>!
                <br>In the meantime I've learnt some programming languages like:
                <br>
                <code data-toggle="tooltip" data-placement="bottom" title="Fluent with it.">Java</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Awesome at both.">HTML5 & CSS3</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Fluent with it.">JavaScript</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Decent with it.">PHP</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Currently in love with it.">Python</code>;
                <code data-toggle="tooltip" data-placement="bottom" title="Very good at it but don't use it anymore since I'm using Linux ;)">VB.NET</code> and I can speak to databases.
                <br> But I'm also experimented with the <b>Adobe Suite</b>, more precisly with:
                <br>
                <b>After Effect</b>, <b>Photoshop</b>, and <b>Illustrator</b>.
            </p>
        </div>
    </center>


    <div class="paraTitle srSkillsTitle">
        <h1>Skills <i class="twa twa-smirk"></i></h1>
    </div>
    <center>
        <ul id="double" class="skills">
            <li class="odd">
                <section id="HTML">
                    <center>
                        <p class="borderedText">HTML5</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </section>
            </li>



            <li class="even">
                <section id="JS">
                    <center>
                        <p class="borderedText">JavaScript <span data-toggle="tooltip" data-placement="bottom" title="Angular, Node, JQuery"><i class="fa fa-question"></i></span></p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%;"></div>
                    </div>
                </section>
            </li>

            <li class="odd">
                <section id="CSS">
                    <center>
                        <p data-toggle="tooltip" data-placement="bottom" data-original-title="{{tooltipText}}" ng-click="classCSS='borderedText'; tooltipText='Better isn\'t it?'" ng-class="classCSS" class="borderedCss">CSS3</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;"></div>
                    </div>
                </section>
            </li>

            <li class="even">
                <section id="VB">
                    <center>
                        <p class="borderedText">VB.NET</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 96%;"></div>
                    </div>
                </section>
            </li>

            <li class="odd">
                <section id="Csharp">
                    <center>
                        <p class="borderedText">C#</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;"></div>
                    </div>
                </section>
            </li>


            <li class="even">
                <section id="PHP">
                    <center>
                        <p class="borderedText">PHP</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 55%;"></div>
                    </div>
                </section>
            </li>

            <li class="odd">
                <section id="Java">
                    <center>
                        <p class="borderedText">Java</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </section>
            </li>

            <li class="even">
                <section id="Python">
                    <center>
                        <p class="borderedText">Python</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;"></div>
                    </div>
                </section>
            </li>

            <li class="odd">
                <section id="SQL">
                    <center>
                        <p class="borderedText">SQL</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 65%;"></div>
                    </div>
                </section>
            </li>

            <li class="even">
                <section id="Adobe">
                    <center>
                        <p class="borderedText">Adobe Suite</p>
                    </center>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%;"></div>
                    </div>
                </section>
            </li>

        </ul>
    </center>
    <div class="paraTitle srProjectsTitle">
        <h1>Recent Projects <i class="twa twa-clock4"/></h1>
    </div>

    <center class="srProjects">
        <div class="paragraph ">

            <!--
            <div id="FireLinkWeb" align="justify">
                <p align="justify">
                    <a href="https://github.com/aureleoules/firelink-web"><b>FireLink (Web)</b> <i class="twa twa-computer"></i></a>
                    <a href="https://github.com/aureleoules/firelink-web" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>A simple app which allows you to share web links between your Android Phone and your PC very smoothly through the Internet using <span><a href="https://firebase.google.com/"><b><i>FireBase</i></b></a></span>!
                </p>
            </div>

            <div id="FireLinkApp">
                <p align="justify">
                    <a href="https://github.com/aureleoules/firelink-app"><b>FireLink (Android)</b> <i class="twa twa-iphone"></i></a>
                    <a href="https://github.com/aureleoules/firelink-app" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>FireLink for Android!
                </p>
            </div>
            -->

            <div id="aureleoulesweb">
                <p align="justify">
                    <a href="https://github.com/aureleoules/aureleoules"><b>aureleoules</b> <i class="twa twa-globe-with-meridians"></i></a>
                    <a href="https://github.com/aureleoules/aureleoules" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>My personal website.
                </p>
            </div>

            <div id="blogweb">
                <p align="justify">
                    <a href="http://blog-aurele.oules.com"><b>My Blog</b> <i class="twa twa-pencil"></i></a>
                    <a href="https://github.com/aureleoules/blog" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>My personal blog.
                </p>
            </div>

            <div id="weatherstation">
                <p align="justify">
                    <a href="http://aureledocs.oules.com/freecodecamp/weatherapi/index.html"><b>Weather Station</b> <i class="twa twa-sunny"></i></a>
                    <a href="https://github.com/aureleoules/freecodecamp/blob/master/weatherapi/index.html" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>Really small weather station.
                </p>
            </div>

            <div id="viewmore">
                <p align="justify">
                    <a href="#projects"><i>View more...</i></a>
                </p>
            </div>
        </div>

    </center>
</div>
<!--End of homePageContent -->

<script>
    window.sr = ScrollReveal({
        duration: 700,
        reset: true,
        scale: 0.75,
        opacity: 0,
    });
    sr.reveal('.srProjectsTitle', 50);
    sr.reveal('#FireLinkWeb', 50);
    sr.reveal('#FireLinkApp', 50);
    sr.reveal('#aureleoulesweb', 50);
    sr.reveal('#blogweb', 50);
    sr.reveal('#weatherstation', 50);
    sr.reveal('#viewmore', 50);

    sr.reveal('.srIntro', 50);
    sr.reveal('.srIntroTitle', 50);

    sr.reveal('.srSkillsTitle', 50);
    sr.reveal('#HTML', 50);
    sr.reveal('#PHP', 50);
    sr.reveal('#CSS', 50);
    sr.reveal('#Java', 50);
    sr.reveal('#JS', 50);
    sr.reveal('#Python', 50);
    sr.reveal('#VB', 50);
    sr.reveal('#SQL', 50);
    sr.reveal('#Csharp', 50);
    sr.reveal('#Adobe', 50);
</script>
