<!DOCTYPE html>
<div class="partial">

    <div class="paraTitle">
        <h1>My projects! <i class="twa twa-muscle"></i></h1>
    </div>
    <center>
        <div class="paragraph marg-25px">
            <div id="clashofdecks">
                <p align="justify">
                    <a href="http://www.clashofdecks.win" target="_blank"><b>Clash of Decks</b> <i class="twa twa-iphone"></i> <i class="twa twa-video-game"></i></a>
                    <br><strong>Clash of Decks</strong> is a website that allows you to create awesome decks for the game
                    <strong>Clash Royale</strong>!
                </p>
            </div>
            <div id="weathr">
                <p align="justify">
                    <a href="http://weather.oules.com" target="_blank"><b>WeathR</b> <i class="twa twa-sunny"></i></a>
                    <a href="https://github.com/aureleoules/WeathR" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>A small Weather Station using <strong>Material Design</strong> and <strong>ReactJS</strong>!
                </p>
            </div>
            <div id="revizone">
                <p align="justify">
                    <a href="http://www.revizone.fr" target="_blank"><b>ReviZone</b> <i class="twa twa-graduation-cap"></i> <i class="twa twa-fr"></i></a>
                    <br><b>ReviZone</b> is a kind of social network for students who would like to get better at school.<br>
                    <b>ReviZone</b> allows you to write your lessons to learn them better, read your friend's lessons or
                    look for a specific lesson using the research tool. Practice using the exercices, play the lesson as
                    audio, export it as PDF to print it, and many other tools!
                </p>
            </div>
            <div id="aureleoulesweb">
                <p align="justify">
                    <a href="https://github.com/aureleoules/aureleoules" target="_blank"><b>aureleoules</b> <i class="twa twa-globe-with-meridians"></i></a>
                    <a href="https://github.com/aureleoules/aureleoules" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>My personal website.
                </p>
            </div>

            <div id="blogweb">
                <p align="justify">
                    <a href="http://blog-aurele.oules.com" target="_blank"><b>My Blog</b> <i class="twa twa-pencil"></i></a>
                    <a href="https://github.com/aureleoules/blog" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>My personal blog.
                </p>
            </div>

            <div id="weatherstation">
                <p align="justify">
                    <a href="http://aureledocs.oules.com/freecodecamp/weatherapi/index.html" target="_blank"><b>Weather Station</b> <i class="twa twa-sunny"></i></a>
                    <a href="https://github.com/aureleoules/freecodecamp/blob/master/weatherapi/index.html" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>Really small weather station.
                </p>
            </div>
            <div id="FireLinkWeb" align="justify">
                <p align="justify">
                    <a href="https://github.com/aureleoules/firelink-web" target="_blank"><b>FireLink (Web)</b> <i class="twa twa-computer"></i></a>
                    <a href="https://github.com/aureleoules/firelink-web" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>A simple app which allows you to share web links between your Android Phone and your PC very smoothly
                    through the Internet using <span><a href="https://firebase.google.com/"><b><i>FireBase</i></b></a></span>!
                </p>
            </div>

            <div id="FireLinkApp">
                <p align="justify">
                    <a href="https://github.com/aureleoules/firelink-app" target="_blank"><b>FireLink (Android)</b> <i class="twa twa-iphone"></i></a>
                    <a href="https://github.com/aureleoules/firelink-app" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>FireLink for Android!
                </p>
            </div>




        </div>

    </center>
</div>

<script>
    window.sr = ScrollReveal({
        duration: 750,
        reset: true,
        scale: 0.75,
        opacity: 0,
    });
    sr.reveal('.paraTitle', 50);
    sr.reveal('.paragraph', 50);
</script>