<!DOCTYPE html>
<div class="partial">

    <div class="paraTitle">
        <h1>My projects! <i class="twa twa-muscle"></i></h1>
    </div>
    <center>
        <div class="paragraph marg-25px">
            <div id="aureleoulesweb">
                <p align="justify">
                    <a href="https://github.com/aureleoules/aureleoules"><b>aureleoules</b> <i class="twa twa-globe-with-meridians"></i></a>
                    <a href="https://github.com/aureleoules/aureleoules" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>My personal website.
                </p>
            </div>

            <div id="blogweb">
                <p align="justify">
                    <a href="http://blog-aurele.oules.com"><b>My Blog</b> <i class="twa twa-pencil"></i></a>
                    <a href="https://github.com/aureleoules/blog" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>My personal blog.
                </p>
            </div>

            <div id="weatherstation">
                <p align="justify">
                    <a href="http://aureledocs.oules.com/freecodecamp/weatherapi/index.html"><b>Weather Station</b> <i class="twa twa-sunny"></i></a>
                    <a href="https://github.com/aureleoules/freecodecamp/blob/master/weatherapi/index.html" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>Really small weather station.
                </p>
            </div>
            <div id="FireLinkWeb" align="justify">
                <p align="justify">
                    <a href="https://github.com/aureleoules/firelink-web"><b>FireLink (Web)</b> <i class="twa twa-computer"></i></a>
                    <a href="https://github.com/aureleoules/firelink-web" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>A simple app which allows you to share web links between your Android Phone and your PC very smoothly through the Internet using <span><a href="https://firebase.google.com/"><b><i>FireBase</i></b></a></span>!
                </p>
            </div>

            <div id="FireLinkApp">
                <p align="justify">
                    <a href="https://github.com/aureleoules/firelink-app"><b>FireLink (Android)</b> <i class="twa twa-iphone"></i></a>
                    <a href="https://github.com/aureleoules/firelink-app" target="_blank"><i style="float: right; color: #34495e" class="fa fa-github"></i></a>
                    <br>FireLink for Android!
                </p>
            </div>




        </div>

    </center>
</div>

<script>
    window.sr = ScrollReveal({
        duration: 750,
        reset: true,
        scale: 0.75,
        opacity: 0,
    });
    sr.reveal('.paraTitle', 50);
    sr.reveal('.paragraph', 50);
</script>
